@font-face {
  font-family: 'DS-Digital'
  src: url('/static/fonts/ds_digital/DS-DIGI.ttf') format('truetype')
  font-weight: normal
  font-style: normal
}

@font-face {
  font-family: 'DS-Digital'
  src: url('/static/fonts/ds_digital/DS-DIGIB.ttf') format('truetype')
  font-weight: bold
  font-style: normal
}
@font-face {
  font-family: 'DS-Digital'
  src: url('/static/fonts/ds_digital/DS-DIGII.ttf') format('truetype')
  font-weight: normal
  font-style: italic
}

@font-face {
  font-family: 'DS-Digital'
  src: url('/static/fonts/ds_digital/DS-DIGIT.ttf') format('truetype')
  font-weight: bold
  font-style: italic
}